---
import DogPics from "../components/DogPics.astro";
import "../styles.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Hello world";
const imageError = "https://www.hostingplus.pe/wp-content/uploads/2020/02/error.jpg";
const res = await fetch("https://dog.ceo/api/breeds/image/random/5");
const data = await res.json();
const dogImageURLs = data.message ?? [imageError];

---

<BaseLayout title="Home">
	<h1>{title}</h1>
	<DogPics urls={dogImageURLs} />
	<div>
		<button id="cat-image-button">Get cat image</button>
	</div>
	<div>
		<img id="cat-image" src="" alt="" style="max-width: 400px; height: auto;" />
	</div>
	<a href="/about">About</a>
	<a href="/blog">Go to blog page</a>
</BaseLayout>

<script>
	import { setupCatFactButton } from "./cat";

	setupCatFactButton();
</script>